* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/* The nav menu */
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 54px;
    left: 0;
    background-color: #cfe8fb;
    overflow: auto;
    transition: 0.3s;
    padding-top: 0px;
    margin: 5px;
    display: inline-block;
    min-width: 150px;
    min-height: 100%;
}

.sidenav-darkTheme {
    background-color: #222;
}

/* Buttons in the nav menu */
.sidenav .closebtn,
.sidenav .pinbtn {
    position: absolute;
    top: 0;
    cursor:pointer;
}
.sidenav .closebtn {
    left: 0;
}

.sidenav .pinbtn {
    right: 25px;
    margin-left: 50px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* A dumb space put in place so that the last entries in a long tree list
 * are not hidden*/
#spacer {
    height: 60px;
}

/* Customize the scroll bar - for Chrome browsers anyways */
#side-nav-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #626262;
}

#side-nav-menu::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#side-nav-menu::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

/* The pin button */
.openbtn {
    color: #DDDDCE;
    cursor:pointer;
}

/* Rotate the pin button when clicked */
.rotate {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.rotate.down {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
